* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.form {
  margin-bottom: 20px;
}

.form-control {
  margin-right: 20px;
}

.custom-form{
  width: 400px;
  height: auto;
}

.input-and-btn{
  display: flex;
}

.todo-box{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-box span{
  margin: 0 5px;
}